

<!DOCTYPE html>
<html>
<title>Register</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Links (sit on top) -->
<!--<div class="w3-top">
  <div class="w3-row w3-large w3-light-grey">
    <div class="w3-col s3">
      <a href="/emp_reg" class="w3-button w3-block">Employee Register</a>
    </div>
    <div class="w3-col s3">
      <a href="/manager_reg" class="w3-button w3-block">Manager Register</a>
    </div>
    <div class="w3-col s3">
      <a href="/admin_reg" class="w3-button w3-block">Admin Register</a>
    </div>
    <div class="w3-col s3">
      <a href="/cust_reg" class="w3-button w3-block">Customer Register</a>
    </div>
  </div>
</div>
<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

  <div class="w3-panel">
    <h1><b>Welcome to register page</b></h1>
    <p>Template by w3.css</p>
  </div>
</div>-->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/emp_reg" class="w3-bar-item w3-button w3-padding-large w3-white">Employee Register</a>
    <a href="/cust_reg" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Customer Register</a>
    <a href="/merch_reg" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Merchant Register</a>
  </div>

  <!-- Navbar on small screens -->
<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">SBS Bank</h1>
  <p class="w3-xlarge">Welcome to SBS Bank</p>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h5 class="w3-padding-32"></h5>

      <p class="w3-text-grey"></p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>
</body>
</html>
