{% extends 'base.html'%}

{% block head %}
  <title>Customer Login</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/CSS/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/bank.ico" />
{% endblock %}

{% block body%}
<!-- Form Module-->
  <div id="container">       
  <form method="post">{% csrf_token%}
    <label for="username">Username:</label>
    <input type="text" id="username" name="uname" placeholder="User Name" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="pswd" placeholder="Enter Password" required>
    <button type="submit" class="signinbutton">Login</button>
  </form>
  </div>

{% endblock %}